<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业绩详情</title>
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/reset.css">
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/achievementDetails.css">
    <script src="__CDN__/assets/js/frontend/flexible.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper_content">
            <div class="content">
                {$inf.content}
            </div>
        </div>
    </div>
</body>
</html>