<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司详情</title>
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/reset.css">
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/companyDetails.css">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__CDN__/assets/js/frontend/flexible.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="wrapper_container">
        <div class="banner_box">
            <img src="__CDN__{$inf.image}">
        </div>
        <div class="content">{$inf.content}</div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        //固定所有图片宽度，除id为icon的元素
        var _width = $(window).width();
        $("img").width(_width);
    });
</script>