<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>售后服务</title>
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/reset.css">
    <link rel="stylesheet" href="__CDN__/assets/css/frontend/aftersale.css">
    <script src="__CDN__/assets/js/frontend/flexible.js"></script>
</head>

<body>
<div class="container">
    {$inf['content']}
    <div class="footer">
        <div class="phoneNum">
            <span>解决热线1</span>
            <a href="tel:055-6791458">055-6791458</a>
        </div>
        <div class="phoneNum">
            <span>解决热线2</span>
            <a href="tel:18712295368">18712295368</a>
        </div>
    </div>
</div>
</body>

</html>